@font-face {
  font-family: 'matrix-code';
  src: url('./fonts/matrix-code.eot?u4jtcy');
  src: url('./fonts/matrix-code.eot?u4jtcy#iefix') format('embedded-opentype'),
    url('./fonts/matrix-code.ttf?u4jtcy') format('truetype'),
    url('./fonts/matrix-code.woff?u4jtcy') format('woff'),
    url('./fonts/matrix-code.svg?u4jtcy#matrix-code') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  background: #000;
  margin: 0;
  padding: 0;
}
.system {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.glyph-buffer {
  width: 0;
  height: 0;
  top: -1px;
  left: -1px;
  font-family: 'matrix-code';
}
.terminal {
  display: block;
  position: fixed;
  font-family: 'matrix-code';
  filter: blur(0.5px) drop-shadow(0 0 14px rgba(10, 255, 70, 0.65))
    drop-shadow(0 0 6px rgba(10, 255, 147, 0.65));
}
.screen {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.5) 75%
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.5) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.5) 75%
    );
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
